* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

core-toolbar, paper-button {
  color: #ecf0f1;
  background-color: #d35400;
  font-size: 30px;
}

section {
  margin: 20px;
  padding: 20px 20px;
  text-align: center;
}

footer {
  color: #ecf0f1;
  background-color: #ecf0f1;
  font-size: 12px;
  position: fixed;
  left: 0px;
  bottom: 5px;
  width: 100%;
  text-align: right;
}

h1 {
  color: #2c3e50;
}

h2, paper-button {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}