#preferences {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

paper-checkbox {
  margin-top: 15px;
}

paper-button {
  margin-top: 30px;
  color: #ecf0f1;
  background-color: #d35400;
  font-size: 20px;
}